<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="page-not-found">
      <h3><%= title %></h3>
      <p><%= desc %></p>
    </div>
  </body>
</html>
