<!DOCTYPE html>
<html>
  <head>
    <title>晚上去吃啥</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/libs/axios.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <script>
      console.log(new Date());
    </script>
  </body>
</html>
